{% extends "layout.html" %} {% block body %}

<div class="container">
  <h1><i class="fa fa-balance-scale" aria-hidden="true"></i>Thank You</h1>

  <div>
    <p>Thank you for thinking this through and taking personal responsibility for your actions.</p>

    <p>We have added your information to our records temporarily. In order to make your pledge permanent, you must confirm your
      email address after a deliberation period of 24 hours. Then you may follow the confirmation link we will send to your
      email address.</p>

    <p>Here are some scientific resources, for your consideration:
      <ul>
        <li></li>
      </ul>
    </p>
  </div>


</div>

{% endblock %}
