{% extends "layout.html" %}

{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <div style="float: left; padding: 15px"><img src="/static/irp2_logo_alpha.png" height="200px"/></div>
    <h1>Stand up for Your Decision on Climate Change</h1>
    <h2>The time is here for .....</h2>
    <p>Details detail details</p>
    <p><a class="btn btn-primary btn-lg" href="/search" role="button">Take the Pledge &raquo;</a></p>
  </div>
</div>
<div class="container">
<h1>About the Pledge</h1>
<p></p>
</div>

{% endblock %}
