{% extends "layout.html" %}

{% block body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

    <h1>We believe differently</h1>

	<p>
		According to some climate scientists, human activity is the primary cause of climate change. They contend that the only way to mitigate climate change is to transition to a sustainable economy based on renewable resources, such as sunlight.
	</p>
	<p>
		Standing against their evidence for human-caused climate change is a deliberate act. Deciding not to reduce one’s carbon footprint is also a deliberate act. Opposing government regulations that can lower the carbon emissions of Western countries is a deliberate act as well.
	</p>
	<p>
		If we maintain that climate change is either not occurring or not human-caused, we must take responsibility for our choices by signing the following pledge:
	</p>

  </div>
</div>

<div class="container">

    <a class="btn btn-primary btn pull-right" href="/search" role="button">Take the Pledge <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>

	<h1><i class="fa fa-balance-scale" aria-hidden="true"></i> The Pledge</h1>

	<h3>
		“I believe that climate change is a problem that neither deserves our attention nor warrants immediate action. I recognize that, according to what climate scientists claim is established science, the decision I make today can have irreversible consequences for the environment. However, I want to go on the record with my decision and, in doing so, take responsibility for what happens in the coming decades. I feel sufficiently confident about my anti-climate change beliefs to sign this pledge for future generations to see.”
	</h3>

	<div class="alert alert-info">
		The names of the signers will be unsealed in 2050.  At that time the debate will be over!
	</div>

	<p>
	    <a class="btn btn-primary btn-lg" href="/search" role="button">Take the Pledge <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
	</p>

	<p style="font-size: .75em;">
		We will ONLY use your email address to verify your signature. It will never be shared or used for other purposes. <strong>Only your full name</strong> will be entered in the permanent record.
	</p>


</div>

{% endblock %}
